* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 50px;
}

/* div p {
  color: blueviolet;
} */

/* div,
p {
  color: blueviolet;
} */

/* div > p {
  color: blueviolet;
} */

/* p::first-letter {
  font-size: 50px;
  color: brown;
} */

div::first-line {
  color: chartreuse;
}

ul li:first-child {
  color: crimson;
}

ul li:last-child {
  text-decoration: underline;
}

ul li:nth-child(3) {
  font-size: 30px;
}

/* h1::selection {
  color: cadetblue;
  background-color: darkmagenta;
} */

p::selection {
  color: cadetblue;
  background-color: darkmagenta;
}
