* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 900px;
  margin: 50px;
  border: 2px dotted blue;
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  /* grid-template-columns: 3fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 100px 200px 300px; */
  /* grid-auto-rows: 50px; */
  row-gap: 10px;
  column-gap: 10px;
  /* justify-content: center; */
  /* align-items: center;
  align-content: end; */

  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
}

.box {
  /* height: 200px; */
  border: 1px solid black;
}

#box-1 {
  grid-area: header;
  background-color: aquamarine;
}

#box-2 {
  grid-area: sidebar;
  background-color: blueviolet;
}

#box-3 {
  grid-area: main;
  background-color: cadetblue;
}

#box-4 {
  grid-area: footer;
  background-color: chocolate;
}
